<%- include('../functions'); %>
<div class="<%= teamName(teams.team, team1, team2) %> position-relative d-inline-block <%= teams.status %>">
    <% var cname = '' %>
    <% var cname = teams.name %>
    <% var ccap = '' %>
    <% var ccap = teams.captain %>
    <% var vcap = '' %>
    <% var vcap = teams.vcaptain %>
    <%- printCaptain(inc, ccap, cname) -%>
    <%- printVcaptain(inc, vcap, cname) -%>
    <img src="<%= teams.picture %>" width="60" height="60" />
    <div class="pname fw-600"><%= splitName(teams.name) %></div>
    <div class="bg-dark1 ra-credits alert-link">
      <%= teams.credits %> <%- isStar(teams.star) %>
      <a href="/player/<%= matchid %>/<%= teams._id %>/edit?dest=<%= destUrl %>" class="text-white edit">
        <i class="fa-solid fa-pencil"></i>
      </a>      
    </div>
</div>