<div class="container-fluid">
  <div class="row justify-content-center">
    <% multiteams.forEach(function(teams, inc){ %>
    <div class="col-auto mt-4">
      <section class="team-bg">
        <div class="d-flex justify-content-between bg-transparent">
          <div class="p-2">
            <%- include('functions'); %>
            <div class="d-inline-block team-name-1 f13 fw-600"><%= team1.toUpperCase() %></div>
            <span class="text-bold text-white f13 fw-600">
              <%= teamPlayercount(teams, team1) %>:<%= teamPlayercount(teams, team2) %>
            </span>
            <div class="d-inline-block team-name-2 f13 fw-600"><%= team2.toUpperCase() %></div>
          </div>
          <div class="text-white f13 fw-600 align-self-center bg-light p-0-5">T-<%= inc+1 %> </div>
          <div class="p-2">
            <div class="d-inline-block team-name-1 f13 fw-600">Cr</div>
            <%- include('functions'); %>
            <span class="text-bold text-white f13 fw-600"><%= credits(teams)%>/100</span>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <% for (const teamswk of teams['WK']) { %>
           <%- include('partials/dreamplayer', {teams: teamswk, inc:inc}); %>
          <% } %>
        </div>
        <div class="d-flex justify-content-center">
          <% for (const teamsbat of teams['BAT']) { %>
             <%- include('partials/dreamplayer', {teams: teamsbat, inc:inc}); %>
          <% } %>
        </div>
        <div class="d-flex justify-content-center">
          <% for (const teamsar of teams['AR']) { %>
            <%- include('partials/dreamplayer', {teams: teamsar, inc:inc}); %>
          <% } %>
        </div>
        <div class="d-flex justify-content-center">
          <% for (const teamsbowl of teams['BOWL']) { %>
            <%- include('partials/dreamplayer', {teams: teamsbowl, inc:inc}); %>
          <% } %>
        </div>
      </section>
    </div>
    <% }); %>
  </div>
</div>
